Repository NikiforovAll/company_intel: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-dead-link-check, ruff-check, ruff-format, mypy

md-dead-link-check:
  name: markdown link check
  entry: uv run md-dead-link-check
  language: system
  pass_filenames: false

ruff-check:
  name: ruff lint
  entry: uv run --directory src/agent ruff check --fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory src/agent ruff format
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run --directory src/agent mypy agent
  language: system
  pass_filenames: false

✨ feat(agent): add system prompts and stub tools for both agents
  src/agent/agent/app.py
  src/agent/agent/backoffice.py
Due: ruff-check, ruff-format, mypy

♻️ refactor(ui): extract ChatPanel component with new conversation support
  .claude/rules/aspire.md
  .claude/rules/python-best-practices.md
  src/ui/src/app/backoffice/page.tsx
  src/ui/src/app/components/chat-panel.tsx
  src/ui/src/app/layout.tsx
  src/ui/src/app/page.tsx
Due: md-dead-link-check

✨ feat(ui): add tab-based AppShell with state-preserving chat panels
  src/ui/src/app/backoffice/page.tsx
  src/ui/src/app/components/app-shell.tsx
Due: none

docs: add CLAUDE.md
  CLAUDE.md
Due: md-dead-link-check

✨ chore(ci): add CI workflow for Python quality checks
  .github/workflows/ci.yml
Due: none

✨ feat(scraper): implement Crawl4AI-based company data gathering
  .gitignore
  CLAUDE.md
  src/agent/agent/backoffice.py
  src/agent/agent/scraper/__init__.py
  src/agent/agent/scraper/_compat.py
  src/agent/agent/scraper/cleaner.py
  src/agent/agent/scraper/config.py
  src/agent/agent/scraper/crawl.py
  src/agent/agent/scraper/models.py
  src/agent/agent/scraper/pipeline.py
  src/agent/agent/scraper/storage.py
  src/agent/agent/settings.py
  src/agent/agent/telemetry.py
  src/agent/pyproject.toml
  src/agent/uv.lock
Due: md-dead-link-check, ruff-check, ruff-format, mypy

📝 docs(scraper): add implementation docs and sync constraints
  docs/CLAUDE.md
  docs/constraints.md
  docs/data-strategy.md
  docs/implementation/scraper.md
  docs/tradeoffs/01-scraping.md
  docs/tradeoffs/02-text-processing.md
Due: md-dead-link-check

✨ feat(agent): add chunking, embedding & Qdrant ingestion pipeline
  docs/CLAUDE.md
  docs/implementation/chunking-embedding.md
  docs/roadmap.md
  docs/tradeoffs/05-embedding-runtime.md
  src/AppHost/Program.cs
  src/agent/agent/backoffice.py
  src/agent/agent/chunker/__init__.py
  src/agent/agent/chunker/config.py
  src/agent/agent/chunker/models.py
  src/agent/agent/chunker/pipeline.py
  src/agent/agent/embedder/__init__.py
  src/agent/agent/embedder/config.py
  src/agent/agent/embedder/pipeline.py
  src/agent/agent/scraper/config.py
  src/agent/agent/scraper/crawl.py
  src/agent/agent/scraper/storage.py
  src/agent/agent/settings.py
  src/agent/agent/vectorstore/__init__.py
  src/agent/agent/vectorstore/client.py
  src/agent/agent/vectorstore/config.py
  src/agent/main.py
  src/agent/pyproject.toml
  src/agent/uv.lock
Due: md-dead-link-check, ruff-check, ruff-format, mypy

✨ feat(agent): wire up hybrid retrieval with RRF fusion
  docs/CLAUDE.md
  docs/implementation/retrieval.md
  docs/vnext.md
  src/agent/agent/app.py
  src/agent/agent/backoffice.py
  src/agent/agent/embedder/pipeline.py
  src/agent/agent/telemetry.py
  src/agent/agent/vectorstore/client.py
  src/agent/agent/vectorstore/config.py
Due: md-dead-link-check, ruff-check, ruff-format, mypy

✨ feat(ui): add help modal and update chat examples
  src/agent/agent/app.py
  src/ui/package.json
  src/ui/pnpm-lock.yaml
  src/ui/src/app/components/app-shell.tsx
  src/ui/src/app/components/help-modal.tsx
  src/ui/src/app/globals.css
Due: ruff-check, ruff-format, mypy

✨ feat(ui): add About tab with architecture diagram and rename to Company Intelligence
  .claude/agents/tech-dependency-assistant.md
  CLAUDE.md
  docs/SPEC.md
  docs/drivers.md
  docs/misc/critique.md
  docs/tradeoffs/05-retrieval.md
  src/agent/agent/__init__.py
  src/agent/agent/app.py
  src/agent/agent/backoffice.py
  src/agent/main.py
  src/ui/package.json
  src/ui/pnpm-lock.yaml
  src/ui/src/app/components/about-panel.tsx
  src/ui/src/app/components/app-shell.tsx
  src/ui/src/app/components/chat-panel.tsx
  src/ui/src/app/components/help-modal.tsx
  src/ui/src/app/components/nav-bar.tsx
  src/ui/src/app/layout.tsx
Due: md-dead-link-check, ruff-check, ruff-format, mypy

✨ feat(agent): extract ingestion module and improve Wikipedia scraping
  CLAUDE.md
  docs/implementation/chunking-embedding.md
  src/agent/agent/backoffice.py
  src/agent/agent/ingestion/__init__.py
  src/agent/agent/ingestion/models.py
  src/agent/agent/ingestion/pipeline.py
  src/agent/agent/scraper/config.py
  src/agent/agent/scraper/models.py
  src/agent/agent/scraper/storage.py
Due: md-dead-link-check, ruff-check, ruff-format, mypy

⚡ perf(scraper): browser reuse, pipeline parallelization, and OTel metrics
  src/agent/agent/scraper/_compat.py
  src/agent/agent/scraper/crawl.py
  src/agent/agent/scraper/metrics.py
  src/agent/agent/scraper/pipeline.py
  src/agent/agent/telemetry.py
Due: ruff-check, ruff-format, mypy

🧑‍💻 chore: fix corrupted lockfile versions and sync docs
  docs/constraints.md
  docs/data-strategy.md
  docs/misc/chromadb-vs-qdrant-hybrid-search.md
  docs/misc/critique.md
  docs/misc/research.md
  docs/roadmap.md
  docs/tradeoffs/05-retrieval.md
  docs/tradeoffs/06-llm-inference.md
  docs/vnext.md
Due: md-dead-link-check

🐛 fix(agent): preserve original company name casing in prompt example
  src/agent/agent/app.py
Due: ruff-check, ruff-format, mypy

✨ feat: add Marp presentation slides and GitHub Pages workflow
  .github/workflows/marp-pages.yml
  slides/img/.gitkeep
  slides/img/bg-section.png
  slides/img/bg-slide-alt1.png
  slides/img/bg-slide-alt2.png
  slides/img/bg-slide-alt3.png
  slides/img/bg-title.png
  slides/img/oleksii.png
  slides/presentation.md
  slides/themes/base.css
  slides/themes/theme.css
Due: md-dead-link-check

🧑‍💻 chore(slides): serve presentation under /rag-pydantic-ai-example subpath
  .github/workflows/marp-pages.yml
Due: none

✨ feat(slides): add UI and OTel screenshots to presentation
  assets/backoffice_01.png
  assets/backoffice_02.png
  assets/backoffice_03.png
  assets/chat-01.png
  assets/chat-02.png
  assets/chat-03.png
  slides/img/backoffice_01.png
  slides/img/backoffice_02.png
  slides/img/backoffice_03.png
  slides/img/chat-01.png
  slides/img/chat-02.png
  slides/img/chat-03.png
  slides/presentation.md
Due: md-dead-link-check

📝 docs: add README with architecture overview, screenshots, and quick start
  README.md
Due: md-dead-link-check

🔥 fix(ui): remove mermaid diagram and fix CopilotKit transitive dep issues
  src/ui/package.json
  src/ui/pnpm-lock.yaml
  src/ui/src/app/components/about-panel.tsx
Due: none

✅ feat(eval): add RAG retrieval quality evaluation framework
  scripts/run-eval.sh
  src/AppHost/Program.cs
  src/agent/agent/eval.py
  src/agent/main.py
  src/agent/pyproject.toml
  src/agent/tests/__init__.py
  src/agent/tests/golden/__init__.py
  src/agent/tests/golden/paypal.json
  src/agent/tests/golden/paypal/raw/search_001.md
  src/agent/tests/golden/paypal/raw/search_002.md
  src/agent/tests/golden/paypal/raw/search_003.md
  src/agent/tests/golden/paypal/raw/search_004.md
  src/agent/tests/golden/paypal/raw/search_005.md
  src/agent/tests/golden/paypal/raw/search_006.md
  src/agent/tests/golden/paypal/raw/search_007.md
  src/agent/tests/golden/paypal/raw/website_001.md
  src/agent/tests/golden/paypal/raw/website_002.md
  src/agent/tests/golden/paypal/raw/website_003.md
  src/agent/tests/golden/paypal/raw/website_004.md
  src/agent/tests/golden/paypal/raw/wikipedia_001.md
  src/agent/tests/golden/paypal/raw/wikipedia_002.md
  src/agent/tests/golden/paypal/raw/wikipedia_003.md
  src/agent/uv.lock
  tests/AppHost.Tests/AgentHealthTests.cs
  tests/AppHost.Tests/RetrievalEvalTests.cs
Due: md-dead-link-check, ruff-check, ruff-format, mypy

📝 docs(slides): add RAG evaluation slides
  docs/CLAUDE.md
  docs/SPEC.md
  slides/presentation.md
Due: md-dead-link-check

Path conditions:
  md-dead-link-check: any of: \.(md|markdown|mdown)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
